LOG_LEVEL=DEBUG
REPOSITORY_POSTGRES_URL=jdbc:postgresql://localhost:5432/morning-coffee
REPOSITORY_POSTGRES_USER=morning-coffee
REPOSITORY_POSTGRES_PASSWORD=super-duper-octo-enigma
READER_POLL_INTERVAL_SECONDS=600
READER_REQUEST_THROTTLING_DELAY_SECONDS=10
READER_BLOCKED_NETWORKS=127.0.0.0/8
READER_MAX_PARALLEL_FETCHES=5
READER_MAX_ENTRIES_PER_FETCH=10
WEB_SERVER_HOSTNAME=127.0.0.1
WEB_SERVER_PORT=8080
WEB_SERVER_ENTRIES_PER_PAGE=100
