LOG_LEVEL=DEBUG
REPOSITORY_POSTGRES_URL=jdbc:postgresql://localhost:5432/morning-coffee
REPOSITORY_POSTGRES_USER=morning-coffee
REPOSITORY_POSTGRES_PASSWORD=super-duper-octo-enigma
READER_POLL_INTERVAL_SECONDS=600
WEB_SEVER_PORT=8080
WEB_SERVER_ENTRIES_PER_PAGE=100
