:root {
  color-scheme: light dark;
}

:root {
  --color-background: light-dark(#eff1f5, #303446);
  --color-text: light-dark(#4c4f69, #c6d0f5);
  --color-anchor: light-dark(#04a5e5, #99d1db);
  --color-anchor-visited: light-dark(#8839ef, #ca9ee6);
  --color-selected-entry: light-dark(#df8e1d, #e5c890);
  --color-selected-entry-anchor: light-dark(#ea76cb, #f4b8e4);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family:
    Open Sans,
    Arial;
  line-height: 1.4;
  margin: 2em auto;
  max-width: 1200px;
}

footer {
  text-align: center;
}

a {
  color: var(--color-anchor);
}

a:visited {
  color: var(--color-anchor-visited);
}

.list-entry .list-entry-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.selected-entry {
  color: var(--color-selected-entry);
}

.selected-entry a {
  color: var(--color-selected-entry-anchor);
}

/**
* Simpler layout for phones and tablets.
*
* Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
@media only screen and (max-width: 992px) {
  ul {
    padding: 0;
    list-style: none;
  }

  .list-entry .list-entry-date {
    display: none;
  }

  .list-entry .list-entry-feed {
    display: none;
  }
}
