<!doctype html>
<html lang="en">
  <head>
    <title>Morning Coffee</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/e73de0c273d6297f0654c096066dedf3e4b1261dfcf3c6ac4c44236d932bf9c4.css" />
    <script src="/static/741763f8277c65485b2779875913fecf00bb694935532e0f01886d4800c8e1c3.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Latest feed entries</h1>
    </header>
    <main>
      <ul id="entries">
        {{trusted|entries}}
      </ul>
    </main>
    <footer title="Who isn't?">
      powered by <a href="https://github.com/parfentjev/morning-coffee" target="_blank">morning-coffee</a>
    </footer>
  </body>
</html>
